*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 40px; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-2 {
  font-size: 3.6rem;
  font-style: italic;
  line-height: 1; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.btn {
  background-color: #c69963;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  padding: 1.6rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.mt-lg {
  margin-top: 4rem; }

.sidebar {
  background-color: #c69963;
  grid-column: side-start/ side-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center; }
  .sidebar .nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4rem;
    margin-top: 4rem; }
    .sidebar .nav-btn::before, .sidebar .nav-btn::after {
      content: "";
      background-color: #fff;
      height: 2px;
      width: 4rem;
      display: block; }
    .sidebar .nav-btn::before {
      transform: translateY(-1.3rem); }
    .sidebar .nav-btn::after {
      transform: translateY(1.1rem); }

.header {
  background-color: #54483a;
  grid-column: full-start/col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0; }
  @supports (display: grid) {
    .features {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 3rem;
      align-items: start; } }
  .features .feature {
    float: left;
    width: 33.33%;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem; }
    @supports (display: grid) {
      .features .feature {
        width: auto;
        margin-bottom: 0; } }
    .features .feature__icon {
      height: 4rem;
      width: 4rem;
      fill: #c69963;
      grid-row: 1 / span 2;
      transform: translateY(-1rem); }
    .features .feature__content {
      font-size: 1.6rem; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../img/back.jpg");
  display: grid;
  grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
  grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
  align-items: center; }
  .story__pictures-1 {
    width: 100%;
    grid-row: row-start 1 / span 4;
    grid-column: col-start 1 / span 4;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15); }
  .story__pictures-2 {
    width: 120%;
    grid-row: row-start 3 / span 4;
    grid-column: col-start 3 / span 4;
    z-index: 10;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15); }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }
  .story__content-text {
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 0.9px;
    margin-bottom: 4rem; }

.homes {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5rem; }
  .homes .home {
    background-color: #f9f7f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem; }
    .homes .home__img {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/2;
      z-index: 1; }
    .homes .home__like {
      width: 2.4rem;
      height: 2.4rem;
      fill: #b28451;
      grid-column: 2/3;
      grid-row: 1/2;
      z-index: 2;
      justify-self: end;
      margin: 1rem; }
    .homes .home__name {
      grid-column: 1/-1;
      width: 80%;
      justify-self: center;
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
      font-size: 1.5rem;
      color: #fff;
      font-weight: 400;
      padding: 1.25rem;
      background-color: #101d2c;
      transform: translateY(-35px);
      z-index: 2; }
    .homes .home__btn {
      grid-column: 1/-1; }
    .homes .home__location, .homes .home__rooms {
      margin-top: -3rem; }
    .homes .home__location, .homes .home__rooms, .homes .home__area, .homes .home__price {
      font-size: 1.5rem;
      margin-left: 2rem;
      display: flex;
      align-items: center; }
      .homes .home__location svg, .homes .home__rooms svg, .homes .home__area svg, .homes .home__price svg {
        fill: #c69963;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / span 1;
    grid-column: 5 / span 1; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / 9; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / 9; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem; }
  .footer .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    grid-gap: 2rem; }
    .footer .nav__item-link:visited, .footer .nav__item-link:link {
      font-size: 1.4rem;
      color: #fff;
      text-decoration: none;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      display: block;
      transition: all 0.2s; }
    .footer .nav__item-link:hover, .footer .nav__item-link:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }
  .footer .copyright {
    font-size: 1.4rem;
    color: #aaa;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-align: center; }
    .footer .copyright__link:visited, .footer .copyright__link:link {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.4s ease-in; }
    .footer .copyright__link:hover, .footer .copyright__link:active {
      color: #c69963;
      box-shadow: 0 1rem 2rem rbga(0, 0, 0, 0.15);
      transform: rotate(5deg) scale(1.2) translateX(6px); }
